.box1{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    background-color: red;
    color: white;
    text-align: center;

}

.box2{
    background-color: green;
    color: white;
    text-align: center;
    border: 2px solid black;
    height: 300px;
    width: 300px;   
    /* margin: 20px; */
    /* margin-left: 100px;
    margin-top: 130px;
    margin-bottom: 30px;
    margin-right: 50px; */
    /* margin: 30px 150px; */
    margin: 20px 50px 100px 200px;
    /* padding: 50px; */
    /* padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 100px;
    padding-top: 200px; */
    /* padding: 20px 100px; */
    padding: 20px 50px 200px 100px;

} 
body{
    /* background-color: aqua; */
}